<% layout('layouts/boilerplate')%>
    <h1>
        <%=item.name %>
    </h1>
    <h2>Add an Ingredient</h2>
    <form action="/ingredients/<%=item._id%>/newItem" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id='name' name='ingredient[name]'>
        </div>
        <div>
            <label for="description">description</label>
            <input type="text" id='upc' name='ingredient[description]'>
        </div>
        <div>
            <label for="quantity">quantity</label>
            <input type="number" id='quantity' name='ingredient[quantity]' min=1 value=1>
        </div>
        <div>
            <label for="quantityType">quantity type</label>
            <input type="text" id='quantityType' name='ingredient[quantityType]'>
        </div>
        <button>Add ingredient</button>
    </form>
    <footer>
        <a href="/items/<%=item._id%>/">Back to <%=item.title%></a>
    </footer>