<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add by upc</title>

</head>

<body>
    <h1>ADD BY UPC</h1>
    <form id="upc-form" action="/items/add-by-upc" method="POST">
        <div>
            <label for="upc">UPC</label>
            <input autofocus="autofocus" type="number" id='upc' name='upc'>
        </div>
        <button>Scan</button>
    </form>
</body>

</html>