<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decrement by upc</title>

</head>

<body>
    <h1>Decrement BY UPC</h1>
    <form id="upc-form" action="/items/decrement-by-upc" method="POST">
        <div>
            <label for="upc">UPC</label>
            <input autofocus="autofocus" type="number" id='upc' name='upc'>
        </div>
        <div>
            <label for="multi">multiplier</label>
            <input autofocus="autofocus" type="number" id='multimultiplier' name='multi' value=1 min=1>
        </div>
        <button>Scan</button>
    </form>
    <footer>
        <a href="/items">All Items</a>
    </footer>
</body>

</html>