<!DOCTYPE html>
<html lang="en">
<% layout('layouts/boilerplate')%>
    <form action="/recipes/new" method="POST">
        <div>
            <label for="name">name</label>
            <input type="text" id='name' name='recipe[name]'>
        </div>
        <div>
            <label for="recipe">recipe</label>
            <input type="text" id='recipe' name='recipe[recipe]'>
        </div>
        <div>
            <label for="minTime">min amount of minutes to make</label>
            <input type="number" id='minTime' name='recipe[minTime]'>
        </div>
        <div>
            <label for="maxTime">max amount of minutes to make</label>
            <input type="number" id='maxTime' name='recipe[maxTime]'>
        </div>


        <button>Add Recipe</button>
    </form>
    <footer>
        <a href="/items">All Items</a>
        <br>
        <a href="/recipes/">All recipes</a>
        <br>
        <a href="/ingredients/">All ingredients</a>
        <br>
    </footer>